/**
 * Created by nvoinarovych on 12.03.2025.
 */

.main-text{
    font-size: 25px;
    width: 260px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Вирівнює по центру горизонтально */
    justify-content: center; /* Вирівнює по центру вертикально */
    /*height: 30vh; !* Займає всю висоту екрану *!*/
    gap: 80px; /* Відстань між компонентами */
    background: white;
}
.features{
    display: flex;
    justify-content: center; /* Центрує іконки в контейнері */
    gap: 120px; /* Відстань між іконками */
    align-items: center;
}
.feature{
    height:200px;
    width:260px;
    text-align: center;

}
.center-text{
    text-align: center;
    /*width: 200px;*/
}
.title{
    text-align: center;
}
