.container{
    background: #F5F7FA;
    margin-top: 200px;
    display: flex;         /* Setting up Flexbox */
    flex-direction: column; /* Align elements vertically (by default horizontally) */
    align-items: center;   /* Align horizontally (center) */
    justify-content: center;/* Align vertically (center) */
    height: 50vh;          /* Set the container height for better centering */
}
.text{
    font-size: 78px;
}
.button{
    color: white;
    width:151px;
    height:52px;
    background-color: green;
    border-radius: 9px;
    border:none;
}