.our-clients{
    font-size: 25px;
}

.icon-container {
    display: flex;
    justify-content: center; /* Centers icons in the container */
    gap: 140px; /* Відстань між іконками */
    align-items: center;
}

.icon {
    width: 55px;
    height: 55px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns horizontally to the center */
    justify-content: center; /* Centers vertically */
    height: 50vh; /* Takes up the entire height of the screen */
    gap: 20px; /* Distance between components */
    background: white;
}