/**
 * Created by nvoinarovych on 12.03.2025.
 */
.our-clients{
    font-size: 25px;
}

.icon-container {
    display: flex;
    justify-content: center; /* Центрує іконки в контейнері */
    gap: 20px; /* Відстань між іконками */
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Вирівнює по центру горизонтально */
    justify-content: center; /* Вирівнює по центру вертикально */
    height: 50vh; /* Займає всю висоту екрану */
    gap: 20px; /* Відстань між компонентами */
    background: white;
}