.container{
    display: flex;
}
.main-text{
    font-size: 38px;
}
.learn-more-button{
    color: white;
    width:151px;
    height:52px;
    background-color: green;
    border-radius: 9px;
    border:none;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 60px;
}