/**
 * Created by nvoinarovych on 12.03.2025.
 */

.main-text{
    font-size: 25px;
}
.learn-more-button{
    color: white;
    width:79px;
    height:32px;
    background-color: green;
    border-radius: 9px;
    border:none;
}
.container{
    display:flex;
}