.main-text {
    font-size: 38px;
}

button {
    color: white;
    width: 151px;
    height: 52px;
    background-color: green;
    border-radius: 9px;
    border: none;
}

.container {
    margin-top: 100px;
}

.text {
    gap: 50px;
}

@media screen and (max-width: 1260px) {
    .text {
        gap: 40px;
    }
}

@media screen and (max-width: 1204px) {
    .text {
        gap: 20px;
    }
}

@media screen and (max-width: 1129px) {
    .text {
        gap: 10px;
    }
}

@media screen and (max-width: 994px) {
    .main-text {
        font-size: 24px;
    }
}
