/**
 * Created by nvoinarovych on 12.03.2025.
 */

.main-text{
    font-size: 38px;
}
.learn-more-button{
    color: white;
    width:151px;
    height:52px;
    background-color: green;
    border-radius: 9px;
    border:none;
}
.container{
    display:flex;
    margin-top: 100px;

}
.text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}