.container{
    display: flex;
    gap:50px;
    background: #F5F7FA;
    padding: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.icons{
    display: flex;
    gap: 50px;
    margin-top: 88px;
}
.icon{
    height: 55px;
    width: 55px;
}
.text-icons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

